fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis


# RAG / LLM
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
langchain-text-splitters
chromadb
sentence-transformers
rank-bm25
pypdf

# 기타
python-dotenv
numpy
requests

# JWT and password hashing
python-jose[cryptography]
passlib
pydantic-settings
pydantic[email] # 이메일 유효성 검사

##코드 규칙 검사 및 자동 포맷팅
ruff
python-multipart